
.homeContainer {
   width: 400px;
   margin: 0 auto ;
   padding: 50px;
   background-color: #ECF0F5;
}
.titleh2 {
    font-size: 45px;
    margin-top: 20px;
    letter-spacing: 1px;
}
.titleInput {
   font-size: 20px;
}
 input {
    width: 100%;
}
select {
    width: 100%; 
}
.lastchild {
    margin-bottom: 30px
}
